<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <rewrite>
                <rules>
                    <rule name="rule 1S" stopProcessing="true">
                        <match url="^assets/(.*)$"  />
                        <action type="Rewrite" url="//web/assets/{R:1}"  />
                    </rule>
                    <rule name="rule 2S" stopProcessing="true">
                        <match url="^css/(.*)$"  />
                        <action type="Rewrite" url="/web/css/{R:1}"  />
                    </rule>
                    <rule name="rule 3S" stopProcessing="true">
                        <match url="^js/(.*)$"  />
                        <action type="Rewrite" url="/web/js/{R:1}"  />
                    </rule>
                    <rule name="rule 4S" stopProcessing="true">
                        <match url="^images/(.*)$"  />
                        <action type="Rewrite" url="/web/images/{R:1}"  />
                    </rule>
                    <rule name="rule 5S">
                        <match url="(.*)"  />
                        <action type="Rewrite" url="//web/{R:1}"  />
                    </rule>
                    <rule name="rule 6S">
                        <match url="."  />
                        <action type="Rewrite" url="//web/index.php"  />
                    </rule>
                </rules>
            </rewrite>
        </system.webServer>
    </configuration>
