<rule name="rule 1j" stopProcessing="true">
<match url="^assets/(.*)$"  />
<action type="Rewrite" url="//web/assets/{R:1}"  />
</rule>
<rule name="rule 2j" stopProcessing="true">
<match url="^css/(.*)$"  />
<action type="Rewrite" url="/web/css/{R:1}"  />
</rule>
<rule name="rule 3j" stopProcessing="true">
<match url="^js/(.*)$"  />
<action type="Rewrite" url="/web/js/{R:1}"  />
</rule>
<rule name="rule 4j" stopProcessing="true">
<match url="^images/(.*)$"  />
<action type="Rewrite" url="/web/images/{R:1}"  />
</rule>
<rule name="rule 5j">
<match url="(.*)"  />
<action type="Rewrite" url="//web/{R:1}"  />
</rule>
<rule name="rule 6j">
<match url="."  />
<action type="Rewrite" url="//web/index.php"  />
</rule>
